/// Theme breakpoints
///
/// Defines breakpoints in project
$theme-breakpoints: (
  layout: (
    'beyond-tiny': 375px,
    'beyond-small': 480px,
    'beyond-medium': 768px,
    'beyond-large': 1024px,
    'beyond-wide': 1280px
  )
);

/// Theme layout
///
/// Defines layout variables
$theme-layout: (
  wrapper: rem(1260),
  margin-spacing: rem(20),
  wrapper-content: rem(860)
);

/// Theme fonts
///
/// Defines all fonts in project
$theme-fonts: (
  default: (
    'name': 'Merriweather-Sans-Regular',
    'fallback': 'Helvetica',
    'type': 'sans-serif'
  ),
  default-bold: (
    'name': 'Merriweather-Sans-Bold',
    'fallback': 'Arial Black',
    'type': 'sans-serif'
  ),
  primary-regular: (
    'name': 'Bitter-Regular',
    'fallback': 'Arial',
    'type': 'sans-serif'
  ),
  primary-bold: (
    'name': 'Bitter-Bold',
    'fallback': 'Arial Black',
    'type': 'sans-serif'
  ),
);

/// Theme colors
///
/// Defines all colors in project
$theme-colors: (
  general: (
    'default': #52627a,
    'primary': #263245,
    'secondary': #f44c49,
    'tertiary': #33445e,
  ),
  form: (
    'label': #263245,
    'input': #263245,
    'placeholder': #abb1ba,
    'legend': #263245,
  ),
  input: (
    'default': #cfd3d8,
    'active': #f44c49,
  ),
  state: (
    'success': #28a745,
    'error': #f8440c,
  ),
  background: (
    'default': #fff,
    'primary': #f4f5f6,
    'secondary': #33445e,
  ),
  selection: (
    'background': #000,
    'color': #fff,
  ),
  basic: (
    'black': #000,
    'white': #fff
  ),
);

/// Theme sizes
///
/// Defines all sizes in project
$theme-sizes: (
  title-1: (
    'default': rem(32),
    'medium': rem(40),
  ),
  title-2: (
    'default': rem(28),
    'medium': rem(34),
  ),
  title-3: rem(28),
  subtitle: rem(24),
  content: rem(16),
  label: rem(14),
  placeholder: rem(16),
  button: rem(18),
  info: rem(14)
);

/// Theme buttons
///
/// Defines button's styles in project
///
/// Others states can be added
$theme-buttons: (
  default: (
    static: (
      'color': #fff,
      'background': #f44c49,
      'box-shadow': inset 0 rem(-2) 0 #ad0d0a,
    ),
    hover: (
      'color': #fff,
      'background': #ad0d0a,
      'box-shadow': inset 0 0 0 #ad0d0a,
    )
  )
);

/// Theme links
///
/// Defines bulinkstton's styles in project
///
/// Others states can be added
$theme-links: (
  default: (
    static: (
      'color': #f44c49,
      'border-color': #f44c49,
    ),
    hover: (
      'color': #ad0d0a,
      'border-color': #ad0d0a,
    )
  ),
  primary: (
    static: (
      'color': #52627a,
      'border-color': #52627a,
    ),
    hover: (
      'color': #263245,
      'border-color': #263245,
    )
  ),
  white: (
    static: (
      'color': #fff,
      'border-color': #fff,
    ),
    hover: (
      'color': #fff,
      'border-color': #fff,
    )
  )
);
