// Message styles
.alert {
  align-items: flex-start;
  background-color: color('white', basic);
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(color('black', basic), .14);
  color: color('primary', general);
  display: flex;
  max-width: rem(350);
  padding: rem(16);

  &__icon {
    flex: 0 0 rem(24);
    margin-right: rem(16);
  }

  &__content {
    flex: 1 1 auto;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &--success {
    .alert__result span {
      color: color('success', state);
    }
  }

  &--error {
    color: color('error', state);
  }
}
