// Removes default button styles
button,
.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out,
              box-shadow .2s ease-in-out,
              color .2s ease-in-out;
}

.btn {
  font-family: font-name('primary-bold');
  font-size: font-size('button');
  padding: rem(12) rem(16);

  &--has-icon {
    span,
    img {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      margin-left: rem(14);
    }
  }
}

/// Generate class buttons from $theme-buttons
///
/// @require {map} $theme-buttons - defines buttons in project
///
@each $name, $styles in $theme-buttons {
  .btn--#{$name} {
    @each $state, $values in $styles {
      @if $state == 'static' {
        @each $value, $key in $values {
          #{$value}: $key;
	      }
	    } @else {
        &:#{$state} {
          @each $value, $key in $values {
            #{$value}: $key;
          }
        }
      }
	  }
	}
}
