// Remove default styles
textarea,
input[type='text'],
input[type='button'],
input[type='submit'],
input[type='date'],
input[type='search'] {
   -webkit-appearance: none; // to remove default styles
   border-radius: 0; // to remove default styles on Safari
}

// Label styles
.label {
  color: color('label', form);
  display: block;
  font-size: font-size('label');

  &--default {
    font-family: font-name('default-bold');
  }

  &--primary {
    font-family: font-name('default');
  }
}

// Input styles
.input {
  background-color: color('default', background);
  border: 1px solid color('default', input);
  border-radius: rem(2);
  color: color('input', form);
  display: block;
  font-size: font-size('placeholder');
  margin-top: rem(4);
  padding: rem(10) rem(16);
  width: 100%;

  &--error {
    border: 1px solid color('error', state);
  }

  &:focus {
    border: 1px solid color('active', input);
    outline: none;
  }

  &::placeholder { /* Chrome/Opera/Safari */
    color: color('placeholder', form);
    font-size: font-size('placeholder');
    opacity: 1;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: color('placeholder', form);
    font-size: font-size('placeholder');
    opacity: 1;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: color('placeholder', form);
    font-size: font-size('placeholder');
    opacity: 1;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: color('placeholder', form);
    font-size: font-size('placeholder');
    opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: color('placeholder', form);
    font-size: font-size('placeholder');
    opacity: 1;
  }
}

// Fieldset styles
fieldset {
  border: 0;
  padding: 0;

  legend {
    color: color('legend', form);
    font-family: font-name('default-bold');
    font-size: font-size('label');
    margin-bottom: rem(13);
  }
}

// Wrapper styles for radio & checkbox inputs
.input-wrapper {
  &:not(:last-child) {
    margin-bottom: rem(8);
  }
}

.radio,
.checkbox {
  opacity: 0;
  position: absolute;

  + label {
    background-color: color('default', background);
    border: 1px solid color('default', input);
    border-radius: rem(2);
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    padding: rem(20) rem(16) rem(20) rem(48);
    position: relative;
    width: 100%;
  }
}

// Input radio styles
.radio {
  + label {
    &::before {
      border: 1px solid color('default', input);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: rem(24);
      left: rem(16);
      position: absolute;
      top: rem(18);
      width: rem(24);
    }

    &::after {
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: rem(16);
      left: rem(20);
      position: absolute;
      top: rem(22);
      width: rem(16);
    }
  }

  &:focus {
    + label {
      border: 1px solid color('active', input);
    }
  }

  &:checked {
    + label {
      border: 1px solid color('active', input);

      &::before {
        border: 1px solid color('active', input);
      }

      &::after {
        background-color: color('active', input);
      }
    }
  }
}

// input checkboxes styles
.checkbox {
  + label {
    &::before {
      border: 1px solid color('default', input);
      content: '';
      display: inline-block;
      height: rem(20);
      left: rem(16);
      position: absolute;
      top: rem(22);
      width: rem(20);
    }

    svg {
      height: rem(17);
      left: rem(17);
      pointer-events: none;
      position: absolute;
      top: rem(22);
      width: rem(17);
      z-index: 1;

      #check {
        stroke: color('white', basic);
        stroke-dasharray: 111.46px;
        stroke-dashoffset: 111.46px;
        transition: all .3s ease-out;
      }
    }
  }

  &:focus {
    + label {
      border: 1px solid color('active', input);
    }
  }

  &:checked {
    + label {
      border: 1px solid color('active', input);

      #check {
        stroke: color('active', input);
        stroke-dashoffset: 0;
      }

      &::before {
        border: 1px solid color('active', input);
      }
    }
  }
}

// input-group (input + button)
.input-group {
  position: relative;

  button {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// errors
.form-error {
  color: color('error', state);
  font-size: font-size('info');
  margin: rem(17) 0 0;

  svg {
    fill: color('error', state);
    margin-top: rem(-3);
    vertical-align: middle;
  }
}
