// Helpers for text styling
.bold-default {
  font-family: font-name('default-bold');
}

.bold-primary {
  font-family: font-name('primary-bold');
}

.strike {
  text-decoration: line-through;
}

// Color helpers
.is-success {
  color: color('success', state);
}

.is-white {
  color: color('white', basic);
}


