.link {
  border-bottom-style: solid;
  border-bottom-width: rem(2);
  cursor: pointer;
  font-family: font-name('default-bold');
  line-height: 1.7;
  padding-bottom: rem(1);
  text-decoration: none;
  transition: border-color .2s ease-in-out,
              color .2s ease-in-out;
}

/// Generate class links from links
///
/// @require {map} $theme-links - defines links in project
///
@each $name, $styles in $theme-links {
  .link--#{$name} {
    @each $state, $values in $styles {
      @if $state == 'static' {
        @each $value, $key in $values {
          #{$value}: $key;
	      }
	    } @else {
        &:#{$state} {
          @each $value, $key in $values {
            #{$value}: $key;
          }
        }
      }
	  }
	}
}
