.title-1 {
  color: color('primary', general);
  font-family: font-name('primary-bold');
  font-size: font-size('default', title-1);
  line-height: 1.34;

  @include breakpoint('beyond-medium') {
    font-size: font-size('medium', title-1);
  }
}

.title-2 {
  color: color('primary', general);
  font-family: font-name('primary-bold');
  font-size: font-size('default', title-2);

  @include breakpoint('beyond-medium') {
    font-size: font-size('medium', title-2);
  }
}

.title-3 {
  color: color('primary', general);
  font-family: font-name('primary-bold');
  font-size: font-size('default', title-2);
}

.subtitle {
  color: color('primary', general);
  font-family: font-name('primary-bold');
  font-size: font-size('subtitle');
  line-height: 1;
}
