// Page - General layout
.page {
  // to always display footer on bottom page
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
    padding-bottom: rem(55);
    padding-top: rem(55);
    width: 100%;
  }
}

// Wrappers styles
.wrapper {
  margin: 0 auto;
  max-width: map-get($theme-layout, 'wrapper');
  padding: 0 map-get($theme-layout, 'margin-spacing');
}

.wrapper-content {
  margin: 0 auto;
  max-width: map-get($theme-layout, 'wrapper-content');
  padding: 0 map-get($theme-layout, 'margin-spacing');
}

// Static pages layout
.static {
  &__title-1 {
    margin: 0 0 rem(34);

    @include breakpoint('beyond-medium') {
      margin: 0 0 rem(64);
    }
  }

  &__article {
    margin: 0 0 rem(34);

    @include breakpoint('beyond-medium') {
      margin: 0 0 rem(64);
    }

    iframe {
      margin-top: rem(20);
    }
  }
}
