.partners-list {
  list-style: none;
  margin: 0 map-get($theme-layout, 'margin-spacing');
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: rem(15);
      margin-right: rem(10);

      @include breakpoint('beyond-small') {
        margin-right: rem(50);
      }

      @include breakpoint('beyond-medium') {
        margin-right: rem(75);
      }
    }

    .mobile-only {
      @include breakpoint('beyond-medium') {
        display: none;
      }
    }

    .desktop-only {
      display: none;

      @include breakpoint('beyond-medium') {
        display: block;
      }
    }
  }
}
