
<ul class="partners-list">
  <li class="partners-list__item">
    <a class="mobile-only" href="https://coopdescommuns.org/fr/">
      <img src="~assets/images/logos/coopcommuns-mb.svg" alt="Site de la Coop des Communs" width="105" height="88">
    </a>

    <a class="desktop-only" href="https://coopdescommuns.org/fr/">
      <img src="~assets/images/logos/coopcommuns-dk.svg" alt="Site de la Coop des Communs" width="366" height="120">
    </a>
  </li>

  <li class="partners-list__item">
    <a class="mobile-only" href="https://lesoiseauxdepassage.coop/">
      <img src="~assets/images/logos/oiseauxpassage-mb.png" alt="Site des Oiseaux de passage" width="156" height="44">
    </a>

    <a class="desktop-only" href="https://lesoiseauxdepassage.coop/">
      <img src="~assets/images/logos/oiseauxpassage-dk.png" alt="Site des Oiseaux de passage" width="180" height="120">
    </a>
  </li>

  <li class="partners-list__item">
    <a href="https://happy-dev.fr/">
      <img src="~assets/images/logos/happydev.svg" alt="Site de HappyDev" width="200" height="200">
    </a>
  </li>

  <li class="partners-list__item">
    <a href="https://www.lesimpacteurs.fr/">
      <img src="~assets/images/logos/impacteurs.svg" alt="Site des Impacteurs" width="200" height="71">
    </a>
  </li>

  <li class="partners-list__item">
    <a href="https://indie.host/">
      <img src="~assets/images/logos/indiehosters.svg" alt="Site de Indie Hosters" width="200" height="71">
    </a>
  </li>

  <li class="partners-list__item">
    <a href="https://lacollab.com/">
      <img src="~assets/images/logos/lacollab.png" alt="Site de La Collab" width="120" height="120">
    </a>
  </li>

  <li class="partners-list__item">
    <a href="https://www.monatourisme.fr/">
      <img src="~assets/images/logos/mona.png" alt="Site de la Mission des Offices de Tourisme Nouvelle Aquitaine" width="189" height="80">
    </a>
  </li>
</ul>
