.toggle {
  cursor: pointer;
  margin-bottom: rem(66);

  &__summary {
    display: block;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__summary-header {
    align-items: center;
    display: flex;
    position: relative;
  }

  &__title {
    font-family: font-name('primary-regular');
    display: block;
    flex-grow: 1;
    margin: 0;
  }

  &__icon {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.6rem;
    margin-left: 1.5rem;
    position: relative;
    width: 3.6rem;

    &::before,
    &::after {
      background-color: color('black', basic);
      content: '';
      height: .2rem;
      left: 50%;
      position: absolute;
      text-align: right;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: transform .2s ease-in-out;
      width: 1.4rem;
    }

    &::after {
      transform: translateY(-50%) translateX(-50%) rotate(90deg);

      [open] & {
        transform: translateY(-50%) translateX(-50%) rotate(180deg);
      }
    }
  }

  &__content {
    padding-top: rem(49);

    p {
      font-size: font-size('info');
      margin: 0;
    }
  }
}
