<!-- <div>
  <details class="toggle" v-for="item in items">
    <summary class="toggle__summary">
      <div class="toggle__summary-header">
        <p class="toggle__title">{{item.value}}</p>

        <span class="toggle__icon"></span>
      </div>
    </summary>

    <div class="toggle__content">
      <p>{{item.answer}}</p>
    </div>
  </details>
</div> -->

<div>
  <p>Nous avons récolté les questions les plus importantes et validons les réponses au fur et à mesure avec des experts.</p>

  <p>Merci au groupe Facebook <a href="https://www.les-logements-solidaires.com/" class="link link--primary">Les Logements Solidaires</a> pour l'inspiration sur la FAQ.</p>
</div>

