<main class="unsubscribe wrapper-content">
  <h1 class="unsubscribe__title title-1">Désincription</h1>

  <p>Cliquez sur "Me désinscrire" pour ne plus recevoir de courriels de la part d'Etikbnb sur cette adresse email :</p>

  <input v-model="email"/>

  <button class="unsubscribe__btn btn btn--default" @click="unsubscribe()">Me désinscrire</button>

  <!-- A afficher quand la désinscription est validée -->
  <p>Nous vous confirmons que votre désinscription à nos services a bien été prise en compte.</p>

  <NuxtLink class="link link--default" to="/">
    Revenir à l'accueil du site
  </NuxtLink><a href="/"></a>
</main>
