.unsubscribe {
  padding-bottom: rem(55);
  padding-top: rem(55);

  &__title {
    margin-bottom: rem(57);
  }

  &__btn {
    display: block;
    margin-top: rem(30);
    max-width: rem(165);
  }
}
