@font-face {
  font-family: 'Bitter-Regular';
  src: url('~assets/fonts/bitter-regular/bitter-regular.eot'); /* IE9 Compat Modes */
  src: url('~assets/fonts/bitter-regular/bitter-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/bitter-regular/bitter-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/bitter-regular/bitter-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~assets/fonts/bitter-regular/bitter-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/bitter-regular/bitter-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'Merriweather-Sans-Regular';
  src: url('~assets/fonts/merriweathersans-regular/merriweathersans-regular.eot'); /* IE9 Compat Modes */
  src: url('~assets/fonts/merriweathersans-regular/merriweathersans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/merriweathersans-regular/merriweathersans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/merriweathersans-regular/merriweathersans-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~assets/fonts/merriweathersans-regular/merriweathersans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/merriweathersans-regular/merriweathersans-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter-Bold';
  src: url('~assets/fonts/bitter-bold/bitter-bold.eot'); /* IE9 Compat Modes */
  src: url('~assets/fonts/bitter-bold/bitter-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/bitter-bold/bitter-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/bitter-bold/bitter-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('~assets/fonts/bitter-bold/bitter-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/bitter-bold/bitter-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather-Sans-Bold';
  src: url('~assets/fonts/merriweathersans-bold/merriweathersans-bold.eot'); /* IE9 Compat Modes */
  src: url('~assets/fonts/merriweathersans-bold/merriweathersans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/merriweathersans-bold/merriweathersans-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/merriweathersans-bold/merriweathersans-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('~assets/fonts/merriweathersans-bold/merriweathersans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/merriweathersans-bold/merriweathersans-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
}
