.subscribe {
  &__email {
    margin-bottom: rem(24);
  }

  &__radios {
    margin-bottom: rem(23);

    @include breakpoint('beyond-medium') {
      margin-bottom: rem(32);
    }
  }

  &__conditions {
    margin-bottom: rem(55);

    @include breakpoint('beyond-medium') {
      margin-bottom: rem(69);
    }

    .input-wrapper {
      margin-bottom: rem(13);
    }
  }

  &__submit {
    display: block;
    width: 100%;

    @include breakpoint('beyond-small') {
      display: inline-block;
      width: auto;
    }

    &--loading {
      opacity: .4;
      cursor: initial;
    }
  }

  .alert {
    margin: rem(20) 0;
  }
}

// loader
.loading {
  color: color('primary', general);
  display: block;
  margin: rem(20) 0 0;
  text-align: center;

  @include breakpoint('beyond-small') {
    display: inline-block;
    margin: 0 0 0 rem(10);
    text-align: left;
  }

  &::after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(color('black', basic), 0);
    text-shadow:
      rem(5) 0 0 rgba(color('black', basic), 0),
      rem(10) 0 0 rgba(color('black', basic), 0);
  }

  40% {
    color: color('black', basic);
    text-shadow:
      rem(5) 0 0 rgba(color('black', basic), 0),
      rem(10) 0 0 rgba(color('black', basic), 0);
  }

  60% {
    text-shadow:
      rem(5) 0 0 color('black', basic),
      rem(10) 0 0 rgba(color('black', basic), 0);
  }

  80%,
  100% {
    text-shadow:
      rem(5) 0 0 color('black', basic),
      rem(10) 0 0 color('black', basic);
  }
}
