<form @submit="checkForm" class="subscribe">
  <div style="position: relative" v-if="!subscribed">
    <p>Vous souhaitez soutenir ce projet ? Merci de vous inscrire ci-dessous.</p>

    <div class="subscribe__email">
      <label class="label" for="email">
        Email (obligatoire)
      </label>

      <input id="liame" type="email" placeholder="email@email.fr" class="input" v-model="liame"
             :aria-invalid="hasError('liame')"
             :aria-describedby="hasError('liame') ? 'email-error' : ''"
             v-bind:class="{'input--error': hasError('liame')}"
      />

      <Alert error :message="getError('liame')"/>
    </div>

    <!-- <fieldset class="subscribe__radios">
      <legend>Vous souhaitez</legend>

      <div class="input-wrapper" v-for="t in types">
        <input class="radio" type="radio" name="type" :id="t.id" :value="t.value" v-model="type"/>
        <label class="label" :for="t.id">{{t.label}}</label>
      </div>

      <Alert error :message="getError('type')"/>
    </fieldset> -->

    <fieldset class="subscribe__conditions">
      <legend>Conditions de confidentialité</legend>

      <div class="input-wrapper">
        <input class="checkbox" type="checkbox" id="conditions" v-model="accepted" />
        <label class="label" for="conditions">
          J'accepte les conditions de confidentialité
          <svg viewBox="0 0 100 100">
            <path id="check" fill="none" stroke="#000" stroke-width="24" d="M12.1 52.1l24.4 24.4 53-53"/>
          </svg>
        </label>
      </div>

      <Alert error :message="getError('accepted')"/>

      <NuxtLink class="link link--primary" to="/mentions#data-protection">Voir les conditions</NuxtLink>
    </fieldset>

    <Alert error v-for="(m, i) in apiSubscriptionErr" :message="m" :key="i"/>

    <input
      value="Valider"
      type="submit"
      class="btn btn--default subscribe__submit"
      v-bind:class="{'subscribe__submit--loading': sending}">

    <span class="loading" v-if="sending" id="form-loader">Envoi en cours</span>
  </div>

  <Alert v-show="true" success v-else>
    Un email de confirmation a été envoyé à <span class="bold-default">{{liame}}</span>.
  </Alert>

  <Invite v-bind:sender="liame" v-if="subscribed"></Invite>

  <div>
    <label class="ohnohoney" for="name"/>
    <input class="ohnohoney" autocomplete="off" type="text" id="name" placeholder="Your name here" v-model="name">
    <label class="ohnohoney" for="email"/>
    <input class="ohnohoney" autocomplete="off" type="email" id="email" placeholder="Your e-mail here" v-model="email">
  </div>

</form>
