// Set the global `box-sizing` state to `border-box`
// Based on Paul Irish's article
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
