.invite {
  .input {
    margin-bottom: rem(10);
  }

  &__add {
    margin-top: rem(20);
  }

  &__submit {
    display: block;
    margin: rem(23) 0;
    width: 100%;

    @include breakpoint('beyond-small') {
      display: inline-block;
      width: auto;
    }
  }

  &__info {
    font-size: font-size('info');
    margin: 0;
  }
}
