<div class="invite">
  <h3 class="title-3">Invitez vos amis à s'inscrire</h3>

  <div v-if="!sended">

    <p>Aidez vos contacts à vous reconnaître.</p>

    <label class="label" for="firstname">
      Votre prénom
    </label>

    <input v-model="invitation.firstname" id="firstname" type="text" placeholder="Ex: Dominique" class="input"/>

    <label class="label" for="lastname">
      Votre nom
    </label>

    <input v-model="invitation.lastname" id="lastname" type="text" placeholder="Ex: Hadock" class="input"/>

    <p>Renseignez les e-mails auxquels envoyer l’invitation.</p>

    <div v-for="(e, index) in invitation.emails"  >
      <label class="label" v-bind:for="'invite-email-' + (index + 1)">
        Email {{ index + 1}}
      </label>

      <div class="input-group">
        <input :aria-describedby="'email-error-' + (index + 1)" v-bind:id="'invite-email-' + (index + 1)" v-model="invitation.emails[index]"  type="email" placeholder="email@email.fr" class="input"/>
        <button class="btn btn--default" @click="deleteEmail(index, e)">-</button>
      </div>
    </div>

    <button class="link link--primary invite__add" @click="addEmail()" v-if="invitation.emails.length < 10">+ Ajouter un email</button>

    <Alert error v-for="(e,i) in errors" :key="i">
      {{errorMessages[e]}}
    </Alert>

    <Alert error v-for="(e,i) in apiInvitationErr" :message="e" :key="i">
      {{errorMessages[e]}}
    </Alert>

    <br />

    <input
      @click="submit()"
      value="Envoyer les invitations"
      type="button"
      class="btn btn--default invite__submit"
      v-bind:class="{'subscribe__submit--loading': sending}">

    <span class="loading" v-if="sending" id="form-loader">Envoi en cours</span>
  </div>

  <Alert success v-else>
    Les invitations <span class="bold-default">ont bien été envoyées</span>.
  </Alert>

  <p class="invite__info">Les données des invitations ne sont pas enregistrées dans notre base de données.</p>
</div>
