html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: color('default', background);
  color: color('default', general);
  font-family: font-name('default');
  font-size: font-size('content');
  height: 100%;
  padding: 0;
}

::selection {
  background-color: color('background', selection);
  color: color('color', selection);
}

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}

p {
  line-height: 1.5;
  margin: rem(20) 0;
}

ul {
  padding: 0;
}
