<template>
  <div class="page">
    <header class="header">
      <div class="header__bar">
        <div class="header__bar-inner wrapper">
          <NuxtLink class="link link--white" to="/versions">V0.3</NuxtLink>

          <a class="link link--white" href="https://airtable.com/shr67RsC0SoAkhkO4" aria-label="Une proposition ? Un bug ? : en faire part sur l'espace AirTable.">une proposition ? un bug ?</a>
        </div>
      </div>

      <div class="wrapper">
        <NuxtLink to="/"  class="header__logo">
          <img src="~assets/images/logo.svg" alt="Accueil" width="200" height="56" />
        </NuxtLink>
      </div>
    </header>

    <nuxt />

    <footer class="footer">
      <div class="wrapper-content">
        <div class="footer__columns">
          <nav role="navigation">
            <ul class="footer-nav">
              <li>
                <NuxtLink class="link link--default" to="/">
                  Accueil
                </NuxtLink>
              </li>
              <li>
                <NuxtLink class="link link--default" to="/projects">
                  Découvrir le projet
                </NuxtLink>
              </li>
              <li>
                <NuxtLink class="link link--default" to="/mentions">
                  Mentions légales
                </NuxtLink>
              </li>
            </ul>
          </nav>

          <ul class="footer-nav">
            <li>
              <a href="https://www.facebook.com/etikbnb/" class="link link--default">Page Facebook</a>
            </li>

            <li>
              <a href="https://twitter.com/etikbnb" class="link link--default">Page Twitter</a>
            </li>
          </ul>
        </div>

        <p class="footer__info">Le contenu de ce site est sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" class="link link--primary">CC-BY-SA</a>, son code est sous <a href="https://gitlab.com/EtikBnB/etikbnb-web/-/blob/25418ee94de2e10c63b5c81c53b8c09b8e954dd7/LICENSE" class="link link--primary">licence MPL2</a>.</br>L'outil temporaire de gestion des fomulaires et d'affichage des offres est sous lience propriétaire. Nous developpons la suite au plus vite.</p>
      </div>
    </footer>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/main-ui';

.header {
  &__bar {
    background-color: color('tertiary', general);
    border-bottom: 1px solid color('white', basic);
    color: color('white', basic);
    left: 0;
    padding: rem(10) 0 rem(15);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &__bar-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include breakpoint('beyond-medium') {
      justify-content: flex-end;
    }

    a:not(:last-child) {
      @include breakpoint('beyond-medium') {
        margin-right: rem(22);
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-top: rem(86);

    @include breakpoint('beyond-medium') {
      margin-top: rem(132);
    }
  }
}

.footer {
  background-color: color('primary', background);
  padding-bottom: rem(35);
  padding-top: rem(35);

  &__info {
    margin-top: rem(32);

    @include breakpoint('beyond-medium') {
      margin-top: rem(65);
    }
  }

  &__columns {
    @include breakpoint('beyond-medium') {
      align-items: flex-start;
      display: flex;
    }

    nav {
      @include breakpoint('beyond-medium') {
        margin-right: rem(145);
      }
    }
  }
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: rem(15);
  }
}
</style>
