<template>
  <div>test</div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component ({
    validate() {
      return false;
    }
  })
  export default class ErrorLayout extends Vue {

  }
</script>
