<template>
  <main class="static wrapper-content">
    <h1 class="static__title-1 title-1">Demande d'hébergement</h1>

    <article class="static__article">
      <p>Cher professionnel de la santé, nous sommes de tout cœur avec vous … nous souhaitons vous soutenir dans cette épreuve.</p>

      <p>Mais nous souhaitons aussi soutenir vous tous qui avez besoin d’être hébergés de manière isolée pour éviter d’être contaminés ou de contaminer les autres. C’est une manière de vous aider mais aussi d’aider les soignants à faire face ainsi à moindre nombre de malades. </p>

      <p>Afin de vous venir en aide, nous mettons en place, avec notre communauté d’hôtes, des hébergements gratuits et temporaires (tant que cela sera utile pour lutter contre la pandémie).</p>
      
    </article>

    <article class="static__article">
      <h2 class="title-2">Vous êtes éligibles si</h2>

      <ul class="list">
        <li>Vous êtes un professionnel de la santé, quelle que soit votre spécialité (médecin, infirmier, aide-soignant, agent hospitalier, personnel technique, accompagnant…toute situation le justifiant et à expliquer dans le formulaire à remplir)) :
        </br>o Vous avez besoin de résider temporairement plus près de votre lieu de travail (vous habitez une commune différente de votre lieu de travail).
        </br>o Vous voulez éviter de contaminer vos proches et cherchez à vous isoler d’eux.
        </li>

        <li>Vous êtes une personne fragile, souffrant d’une pathologie chronique ou temporaire qui vous met plus à risque que les autres et vous souhaitez vous isoler pour vous éloigner de la contamination potentielle</li>

        <li>Vous êtes malade et ne voulez pas, en attendant votre guérison complète, contaminer vos proches. Vous souhaitez habiter seul pendant ce temps-là.</li>
      </ul>
      
      <p>Si vous vous reconnaissez, remplissez le formulaire ci-dessous pour faire une demande de logement. Vous serez aidé dans votre recherche par un bénévole.</p>
    </article>

    <article class="static__article">
      <h2 class="title-2">Informations complémentaires</h2>

      <p>Nous développons la plateforme <a class="link link--primary" href="https://www.etikbnb.org/">Etikbnb</a> afin de proposer une solution d'hébergement d'urgence au personnel de santé et aux personnes qui doivent s’isoler pour éviter la contamination ou ne pas contaminer leurs proches. Ce questionnaire est strictement confidentiel et aucune donnée ne sera utilisée à d’autres fins (fins commerciales ou autres, Etikbnb est une association loi 1901 participant au monde coopératif) que celles qui sont l’objet de la plateforme.</p>

      <p> Le formulaire ci-dessous est une solution temporaire, il sera remplacé dans les prochaines semaines par un compte utilisateur et un système de mise en contact plus direct. Merci de votre compréhension !</p>
    </article>

    <article class="static__article">
      <h2 class="title-2">Le formulaire</h2>

      <p> IMPORTANT : Si le formulaire ne s'affiche pas, merci de désactiver les plugins de votre navigateur web. La solution temporaire que nous utilisons n'est pas parfaite (pardon, elle est encore en anglais…), mais elle nous permet de parer à l'urgence.
      </br>Nous sommes en train de développer une solution propre et open source qui fonctionnera le plus vite possible, dans les prochains jours.</p>
      <p> Après avoir appuyé sur "attach file" afin d'ajouter vos documents, il faut faire défiler l'écran jusqu'au centre du formulaire pour trouver l'interface d'ajout.</p>

      <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrS0WNwMYAUckrof?backgroundColor=pink" frameborder="0" onmousewheel="" width="100%" height="5555" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </article>
  </main>
</template>

