<template>
  <Landing/>
</template>

<script lang="ts">
import Vue from 'vue'
import Landing from '~/pages/landing/index.vue'

export default Vue.extend({
  components: {
    Landing
  }
})
</script>

<style lang="scss">
</style>
