<template>
  <main>
    <div class="static wrapper-content">
      <h1 class="static__title-1 title-1">Liste des hébergements</h1>

      <article class="static__article">
        <h2 class="title-2">Présentation de l'outil</h2>

        <p>Cette solution est temporaire pour vous permettre de visualiser les offres d'hebergements.</p>
        
        <h2 class="title-2">Utilisation</h2>
        
        <p>Pour réserver un hébergement ou avoir plus d'information à son sujet, merci de nous contacter à l'adresse e-mail ci-dessous en mentionnant <span class="default-bold">votre nom, prénom et le numéro de l'annonce</span> qui vous intéresse. Notre équipe fera son maximum pour répondre à votre besoin et vous mettre en relation avec le propriétaire.
            </br> <a href="mailto:contact@etikbnb.org" class="link link--primary">contact@etikbnb.org</a></p>
            
        <p> Sur ordinateur, les boutons "Filter" et "Sort" vous permettent de trier les hébergements par ville. Nous nous excusons par avance de l'utilisation de la langue anglaise, cet outil est temporaire et imparfait... 
        </br>En cas de questions, n'hésitez pas à nous écrire <a href="maito:contact@etikbnb.org" class="link link--primary">par e-mail</a> ou <a href="https://www.facebook.com/etikbnb" class="link link--primary">sur Facebook</a>.</p>

        <p>Type d'affichage :</p>

        <div class="vue-selector selector">
          <input class="btn" type="button" value="Par liste" @click="switchType('list')" :class="{'btn--default': vueType === 'list'}">
        
          <input class="btn" type="button" value="Par cartes" @click="switchType('grid')" :class="{'btn--default': vueType === 'grid'}">
        </div>
      </article>
    </div>

    <div class="iframe-list">
      <div class="iframe-list__loader">
        <iframe class="airtable-embed" :src="hebergementsUrls[vueType]" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #CCC;"></iframe>
      </div>
    </div>

  </main>
</template>

<script lang="ts">
  import {Vue, Component } from 'vue-property-decorator'

  @Component({

  })
  export default class ListeHebergements  extends Vue {

    hebergementsUrls = {
      grid : "https://airtable.com/embed/shreo3TpONN1XvjW3?backgroundColor=red&viewControls=on",
      list : "https://airtable.com/embed/shrdzJufYp3OIFmw9?backgroundColor=red&viewControls=on"
    };
    vueType: string = "grid";

    switchType(type = "grid" || "list") {
      this.vueType = type;
    }
  }
</script>

<style lang="scss">
.iframe-list {
  margin-bottom: rem(34);
  padding: 0 map-get($theme-layout, 'margin-spacing');

  @include breakpoint('beyond-medium') {
    margin-bottom: rem(64);
  }

  &__loader {
    background:url(~assets/images/loader.svg) center center no-repeat;
    background-size: rem(300) rem(300);
  }
}

.selector {
  border: rem(1) solid color('secondary', general);
  box-shadow: map-deep-get($theme-buttons, default, static, 'box-shadow');
  display: inline-block;

  input:not(.btn--default) {
    &:hover {
      color: color('secondary', general);
    }
  }
}
</style>

