<template>
  <main class="wrapper-content">
    <h1 class="title-1">Création de compte (titre à modifier)</h1>

    <article>
      <form class="login">
        <p>Tous les champs sont obligatoires.</p>

        <fieldset class="login__radios">
          <legend>Vous êtes</legend>

          <div class="input-wrapper">
            <input class="radio" type="radio" name="type" id="particulier" />
            <label class="label" for="particulier">Un particulier</label>
          </div>

          <div class="input-wrapper">
            <input class="radio" type="radio" name="type" id="professionnel" />
            <label class="label" for="professionnel">Un professionnel de l'hébergement</label>
          </div>
        </fieldset>

        <input type="submit" class="login__submit btn btn--default" value="Se connecter" />
      </form>
    </article>
  </main>
</template>

<style lang="scss">
.login {
  &__radios {
    .input-wrapper {
      width: rem(210);

      @include breakpoint('beyond-small') {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }

      label {
        min-height: rem(84);
      }
    }
  }

  &__submit {
  margin-top: rem(44);
  }
}
</style>
