<template>
  <main class="static wrapper-content">
    <h1 class="static__title-1 title-1">Mentions légales</h1>

    <article class="static__article">
      <p>Le site <a href="http://www.etikbnb.org" class="link link--primary">www.etikbnb.org</a> est édité par Etikbnb, association loi 1901 c/o Anne-Marie Cazilhac, 120 boulevard Diderot 75012 Paris , France, immatriculée au RCS de Paris  sous le numéro W751255846;</p>

      <p>Directeur de publication : le représentant légal Mr Charles Henri (Carlo) PESSO</p>

      <p>Contact : c/o Anne-Marie Cazilhac, 120 boulevard Diderot 75012 Paris</p>

      <p>Mail : <a href="mailto:contact@etikbnb.org" class="link link--primary">contact@etikbnb.org</a></p>

      <p>Tel : 06 07 12 81 22;</p>

      <p>N° TVA intracommunautaire :</p>

      <p>Hébergeur du site: <a href="https://indie.host" class="link link--primary">indie.host</a></p>

      <p>Siège social : 69300 Caluire-et-Cuire - France</p>

      <p>IndieHost loue ses serveurs auprès de la société Hetzner en Allemagne.</p>

      <p>L’infrastructure logicielle utilisée par IndieHost est documentée sous licence libre: <a href="https://libre.sh" class="link link--primary">https://libre.sh</a></p>

      <p>Pour plus d’informations, retrouvez <a href="https://indie.host/terms/" class="link link--primary">les mentions légales d'Indie Host</a>.</p>

    </article>

    <article class="static__article" id="data-protection">
      <h2 class="title-2">Protection des données</h2>

      <p>Déclaration de conformité CNIL (Commission nationale de l'informatique et des libertés) : en cours de dépôt.</p>

      <p>Conformité RGPD (Règlement général sur la protection des données) :</p>

      <p>Les informations et données personnelles des utilisateurs de la solution Etikbnb sont conservées conformément aux obligations légales et réglementaires en vigueur auxquelles Etikbnb est soumise. Ces données sont traitées et stockées chez l’hébergeur du site identifié au sein des mentions légales figurant sur le site Etikbnb.org dans des conditions visant à assurer leur sécurité. Conformément à la loi n°78-17 du 6 janvier 1978, dite « loi informatique et libertés » modifiée en 2004 ainsi qu’au Règlement (UE) 2016/679, il est précisé :</p>

      <ul class="list">
        <li>Que les données collectées ont fait l’objet d’un consentement exprès de la part de l’utilisateur de la plateforme et de l’application (via leur inscription spontanée ou via l’établissement client qui a communiqué les données avec l’autorisation de l’utilisateur) qui est spécifiquement informé de la finalité du traitement et du destinataire des données (mentions légales sur les formulaires et les mails d’inscription);</li>

        <li>Que les données collectées sont uniquement traitées à des fins d’utilisation de la solution (en l’occurrence utilisation à des fins professionnelles);</li>


        <li>Que seules sont collectées les données nécessaires à l’utilisation du service;</li>

        <li>Que les données collectées sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées;</li>

        <li>Que les données collectées ne font pas l’objet d’un transfert de données à des tiers (en dehors de votre employeur lui-même, c’est-à-dire les administrateurs, gestionnaires ou superviseurs de la plateforme Etikbnb en son sein);</li>

        <li>Font l’objet d’un droit d’accès et de modification de leurs données directement sur leur espace personnel et sur simple demande écrite auprès du service client (<a href="mailto:contact@etikbnb.org" class="link link--primary">contact@etikbnb.org</a>) pour une modification d’identifiant et une suppression de compte;</li>

        <li>Que les données collectées sont collectées, traitées et stockées dans des conditions permettant de s’assurer de leur sécurité.</li>
      </ul>

      <p>Etikbnb s’engage à protéger la vie privée de ses utilisateurs et clients en respectant la réglementation en vigueur. A cet égard, Etikbnb ne partagera ni ne divulguera en aucun cas les données personnelles de ses clients et utilisateurs.</p>

      <p>Délégué à la protection de données (DPO) nommé : Charles Henri (Carlo) Pesso</p>

      <p>Contact : <a href="mailto:carlo.pesso@etikbnb.org" class="link link--primary">carlo.pesso@etikbnb.org</a></p>
    </article>

  </main>
</template>
