<template>
  <main class="static wrapper-content">
    <h1 class="static__title-1 title-1">Découvrez le projet</h1>

    <article class="static__article">
      <h2 class="title-2">Une plateforme pour répondre à la crise sanitaire</h2>

      <p>Nous sommes opérateurs de plateformes d’hébergement de courte durée, de nouvelles mobilités, de plateformes coopératives, réunies autour de l’écosystème que constitue la plateforme des communs, mais aussi opérateurs indépendants ou coopératifs qui croient que solidarité et responsabilité permettent de surmonter les difficultés.</p>

      <p>Le projet est porté par l’association Etikbnb regroupant des hébergeurs coopératifs en Europe.</p>
    </article>

    <article class="static__article">
      <h2 class="title-2">Comment ça marche ?</h2>

      <p>Nous, simples citoyens ou professionnels, qui avons un hébergement vacant que nous destinions aux voyageurs, pouvons le mettre à disposition d’une cause vitale. Nous permettrons ainsi :</p>

      <ul class="list">
        <li>Aux personnels soignants de bénéficier d’un hébergement de courte durée plus proche de leur lieu de travail et/ou plus sécurisant pour leur entourage</li>

        <li>Aux personnes qui doivent être isolées pour se protéger ou protéger leurs proche</li>
      </ul>

      <p>Vous êtes un particulier ou un professionnel de l’hôtellerie ?<br />Vous avez un logement libre ?</p>

      <NuxtLink class="link link--primary" to="/#subscribe">Rejoignez le mouvement ici</NuxtLink>
    </article>

    <article class="static__article" id="roadmap">
      <h2 class="title-2">Notre feuille de route</h2>

      <p>
        <span class="bold-default">A partir de mercredi 25 mars 2020</span>
        <br/>
        <span class="strike">Mise en ligne de la page présentation (version 0)</span>
        <br/>
        <img src="~assets/images/checkmark.svg" width="15" height="15" alt="">
        <span class="bold-default">Réalisé</span>
      </p>

      <p>
        <span class="bold-default">Première mise à jour à partir du 7 Avril 2020</span>
        <br/>
        <span class="strike">Formulaire temporaire pour proposer et demander des hébergements & visualisation des hébergements disponibles</span>
        <br/>
        <img src="~assets/images/checkmark.svg" width="15" height="15" alt="">
        <span class="bold-default">Réalisé</span>
      </p>

      <p><span class="bold-default">Seconde mise à jour</span>
      
      <ul class="list">
        <li>Création de comptes utilisateurs</li>

        <li>Espace de création et de gestion des demandes et offres d'hébergement.</li>
      </ul>
      
      <p><span class="bold-default">Troisième mise à jour</span><br/>Espace de gestion pour les structures</p>

      <ul class="list">
        <li>un espace de gestion centralisé d'offres d’hébergement multiples par les structures d'hebergements</li>
        
        <li>un espace de gestion centralisé des demandes d’hébergement multiples par les structures sanitaires et sociales (hôpitaux, ehpad, etc)</li>
      </ul>

      <p><span class="bold-default">Ensuite :</span><br />ajout de fonctionnalités en lien avec d’autres plateformes coopératives.</p>

      <ul class="list">
        <li>Mobilité solidaire dans la crise</li>

        <li>Soutien psychologique par chat privé, téléphone et visio conférence</li>

        <li>Hébergement pour d’autres secteurs comme la distribution alimentaire</li>
      </ul>
    </article>

    <article class="static__article">
      <h2 class="title-2">Qui sommes-nous&nbsp;?</h2>

      <p>Etikbnb assure le fonctionnement de la plateforme et coordonne le projet ++Etikbnb santé.</p>

      <p>C’est une association motivée par un retour à l’économie de partage et par une autre manière d’habiter temporairement.</p>

      <p>Elle est :</p>

      <ul class="list">
        <li>Inclusive : Etikbnb s’adresse à tous, sans discrimination.</li>

        <li>Coopérative : Etikbnb accueille toute association ou coopérative qui a des objectifs similaires (coopératives Oiseaux de Passage, Hôtel du Nord, Fairbnb.coop...).</li>

        <li>Ethique : Etikbnb contrôle de manière permanente la transparence de son propre fonctionnement et protège les données personnelles de ses membres. Elle respecte la réglementation, en particulier juridique et fiscale.</li>

        <li>Soucieuse de l’environnement : Etikbnb minimise ses impacts environnementaux</li>

        <li>Participative : Etikbnb permet aux hébergeurs de partager leurs caractéristiques environnementales et les solutions qu’ils mettent en place. Elle permet aussi aux voyageurs d’accéder aux services de ses partenaires pour l’environnement et la culture.</li>
      </ul>

      <p>L'association Etikbnb prépare la création d'une SCIC (Société Coopérative d’Intérêt Collectif), future gestionnaire dès l'activités, dans laquelle toutes les parties prenantes (fondateurs, bénévoles, hébergeurs, voyageurs, porteurs de projets solidaires, collectivités territoriales, organismes d’appui financier, bienfaiteurs, conseillers éthiques et salariés) seront représentées.</p>

      <a href="https://nextcloud.toulouse.happy-dev.fr/s/xW4JwRAXo45pTpG/download" class="link link--default">Télécharger les statuts de l'association (PDF - 245 ko)</a>

      <br /><br />

      <NuxtLink class="link link--primary" to="/#subscribe">Rejoignez le mouvement ici</NuxtLink>
    </article>
  </main>
</template>
