<template>
  <main class="static wrapper-content">
    <h1 class="static__title-1 title-1">Formulaire de proposition d'hébergement</h1>

    <article class="static__article">
    
      <p>Vous êtes un particulier ou un professionnel, vous avez un hébergement vacant que vous destiniez aux voyageurs (sur quelque plateforme que ce soit), vous pouvez le mettre à disposition d’une cause vitale.</p>
      <p>Vous pouvez proposer votre hébergement sur notre plateforme avec des éléments qui permettent de sécuriser votre proposition. Vous aidez ainsi des personnels de santé ou des personnes qui doivent être isolées.
      </br>Nous mettons tout en œuvre pour assurer le nettoyage et la décontamination éventuelle de votre logement. Vous êtes suivi par un bénévole qui vous guide et vous aide dans votre proposition et vous assure toute la sécurité de la mise en relation.</p>

      <h2 class="title-2">Informations complémentaires</h2>

      <p>Nous développons la plateforme <a class="link link--primary" href="https://www.etikbnb.org/">Etikbnb</a> afin de proposer une solution d'hébergement d'urgence au personnel de santé et aux personnes qui doivent s’isoler pour éviter la contamination ou ne pas contaminer leurs proches. Ce questionnaire est strictement confidentiel et aucune donnée ne sera utilisée à d’autres fins (fins commerciales ou autres, Etikbnb est une association loi 1901 participant au monde coopératif) que celles qui sont l’objet de la plateforme.</p>

      <p> Le formulaire ci-dessous est une solution temporaire, il sera remplacé dans les prochaines semaines par un compte utilisateur et un système de mise en contact plus direct. Merci de votre compréhension !</p>

      <p> Toute information pouvant compromettre votre sécurité ou celle de votre logement, comme son adresse exacte, ne sera indiquée qu'aux demandeurs nous ayant fourni une preuve de leur identité et métier.</p>
    </article>

    <article class="static__article">
      <h2 class="title-2">Le formulaire</h2>

      <p> IMPORTANT : Si le formulaire ne s'affiche, pas merci de désactiver les plugins de votre navigateur web. La solution temporaire que nous utilisons n'est pas parfaite mais elle fonctionne pour parer à l'urgence. </br>Nous sommes en train de développer la suite.</p>
      <p> Après avoir appuyé sur "attach file" afin d'ajouter vos documents et photos, il faut faire défiler l'écran jusqu'au centre du formulaire pour trouver l'interface d'ajout.</p>
      
      <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrER88SQRBbv2uch?backgroundColor=pink" frameborder="0" onmousewheel="" width="100%" height="5399" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </article>

  </main>
</template>
