<template>
  <main class="static wrapper-content">
    <h1 class="static__title-1 title-1">Votre plateforme en constante évolution</h1>

    <article class="static__article">
      <h2 class="title-2">Lancement initial de la plateforme</h2>

      <h3 class="bold-default">v0.3 Mise en ligne le 07/04/2020</h3>

      <ul class="list">
        <li>Ajout du <a class="link link--primary" href="https://www.etikbnb.org/demande-hebergement">formulaire temporaire de demande d'hébergement</a></li>

        <li>Ajout du <a class="link link--primary" href="https://www.etikbnb.org/proposition-hebergement">formulaire temporaire de proposition d'hébergement</a></li>

        <li>Ajout de <a class="link link--primary" href="https://www.etikbnb.org/liste-hebergements">la page de suivi des annonces</a> avec fonctionnalité de tri par ville et par disponibilité. Si une annonce vous intéresse, contactez nous !</li>
      </ul>

      <h3 class="bold-default">v0.2 Mise en ligne le 02/04/2020</h3>

      <ul class="list">
        <li>Evolution graphique de la page d'accueil pour plus de lisibilité et de clarté</li>

        <li>Ajout d'une page permettant de suivre l'évolution du site et la mise en ligne de ses évolutions </br> Vous êtes dessus ;)</li>

        <li>Ajout d'une fonction d'invitation de vos amis suite à votre inscription. Un mail est envoyé avec une présentation du projet et un accès à ce site.</li>

        <li>Un nouveau partenaire rejoint le projet ! On accueille le collectif <a href="https://lacollab.com/" class="link link--primary">La Collab</a> qui vient prêter main forte avec une dizaine de membres</li>
      </ul>

      <h3 class="bold-default">v0.1 Mise en ligne le 25/03/2020</h3>

      <ul class="list">
        <li>Présentation du projet et de son contexte</li>

        <li>Intégration du formulaire permettant de laisser son adresse e-mail pour ensuite proposer un hébergement, demander un logement d'urgence ou apporter son soutien au projet</li>

        <li>FAQ (Foire aux questions) en cours de construction. Redirection vers un groupe Facebook proposant des informations</li>

        <li>Présentation des partenaires du projet</li>

        <li>Un formulaire pour que les utilisateurs participent à la construction de la plateforme grâce à leurs retours</li>
      </ul>
    </article>
  </main>
</template>
