.landing-intro {
  background-image: url('~assets/images/illu-main-bottom.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: rem(150);

  @include breakpoint('beyond-tiny') {
    background-position: bottom right;
    background-size: rem(355) rem(146);
  }

  @include breakpoint('beyond-large') {
    padding-bottom: rem(114);
  }

  @include breakpoint('beyond-wide') {
    background-image: url('~assets/images/illu-main-left.svg'),
                      url('~assets/images/illu-main-right.svg');
    background-position: top 27% left 5%, center right;
    background-size: rem(96) rem(106), auto 100%;
    margin-bottom: rem(54);
  }

  &__title {
    margin: 0  0 rem(21);
  }

  &__text {
    margin: 0  0 rem(35);
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include breakpoint('beyond-medium') {
        display: inline-block;
      }

      &:not(:last-child) {
        margin-bottom: rem(25);

        @include breakpoint('beyond-medium') {
          margin-bottom: 0;
          margin-right: rem(25);
        }
      }
    }
  }
}

.landing-presentation {
  background-color: color('secondary', background);
  padding-bottom: rem(70);
  padding-top: rem(70);

  @include breakpoint('beyond-medium') {
    padding-bottom: rem(80);
    padding-top: rem(80);
  }

  &__inner {
    @include breakpoint('beyond-medium') {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
    }
  }

  &__column {
    &:not(:last-child) {
      margin-bottom: rem(40);

      @include breakpoint('beyond-medium') {
        margin-bottom: 0;
      }
    }

    @include breakpoint('beyond-medium') {
      flex: 0 1 48%;
    }
  }

  &__subtitle {
    margin-top: 0;
  }

  &__text {
    margin: 0;
  }
}

.landing-subscribe {
  background-color: color('primary', background);
  background-image: url('~assets/images/illu-form-mb.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: rem(270) rem(204);
  padding-bottom: rem(230);
  padding-top: rem(66);

  @include breakpoint('beyond-medium') {
    background-image: url('~assets/images/illu-form-dk.svg');
    background-position: center right;
    background-size: rem(341) rem(412);
    padding-bottom: rem(70);
  }

  &__title {
    margin: 0;
  }

  &__form {
    margin-top: rem(60);
    max-width: rem(496);
  }
}

.forms-grid {
  list-style: none;
  margin: rem(40) 0;
  padding: 0;
  text-align: center;

  @include breakpoint('beyond-small') {
    display: flex;
  }

  &__item {
    margin: 0 auto;
    max-width: rem(260);
    padding: rem(20) 0;

    @include breakpoint('beyond-small') {
      flex: 1 1 33.33%;
      max-width: none;
      padding: 0 rem(10);
    }
  }

  &__picto {
    display: block;
    height: rem(70);
    margin: 0 auto rem(10);
  }
}

.landing-faq {
  padding-bottom: rem(70);
  padding-top: rem(70);

  @include breakpoint('beyond-medium') {
    padding-bottom: rem(100);
    padding-top: rem(100);
  }

  &__title {
    margin: 0 0 rem(29);
  }
}

.landing-partners {
  padding-bottom: rem(40);

  &__title {
    margin: 0 0 rem(29);
  }

  &__info {
    margin-top: rem(50);
  }
}
