<main>
  <section class="landing-intro">
    <div class="wrapper-content">
      <h1 class="landing-intro__title title-1">Un hébergement pour les personnels de santé et les personnes vulnérables</h1>

      <p class="landing-intro__text">Pour faire face au tsunami sanitaire, que je sois un particulier ou un professionnel, je propose un hébergement au personnel de santé et aux personnes vulnérables*</p>
      <p class="landing-intro__text">*personnes qui doivent être isolées pour se protéger ou protéger leurs proches</p>

      <ul class="landing-intro__links">
        <li>
          <a href="#subscribe" class="btn btn--default btn--has-icon" aria-label="Je m'inscris : accéder au formulaire de contact">
            <span>Je m'inscris</span><img src="~assets/images/arrow.svg" alt="">
          </a>
        </li>

        <li>
          <NuxtLink class="link link--primary" to="/projects">Découvrir le projet</NuxtLink>
        </li>
      </ul>
    </div>
  </section>

  <section class="landing-presentation">
    <div class="landing-presentation__inner wrapper">
      <div class="landing-presentation__column">
        <p class="landing-presentation__subtitle subtitle is-white">Sécurité sanitaire</p>
        <p class="landing-presentation__text is-white">Tout sera mis en oeuvre pour assurer la sécurité sanitaire.</p>
      </div>

      <div class="landing-presentation__column">
        <p class="landing-presentation__subtitle subtitle is-white">Projet citoyen</p>
        <p class="landing-presentation__text is-white">Nous sommes un regroupement citoyen rassemblant coopératives, associations, entreprises et individus sous l’égide de l'association Etikbnb : La Coop des Communs, Les Oiseaux de passage, Happy Dev, les Impacteurs, Indie Hosters, La Collab</p>
      </div>
    </div>
  </section>

  <section class="landing-subscribe" id="subscribe">
    <div class="wrapper-content">
      <h2 class="landing-subscribe__title title-2">Je m'inscris</h2>

      <p>
        <NuxtLink class="link link--primary" to="/projects#roadmap">La plateforme est en cours de construction</NuxtLink>.
        Les formulaires ci-dessous sont temporaires et gagneront en fonctionnalité dans les prochains jours.
      </p>

      <ul class="forms-grid">
        <li class="forms-grid__item">
          <img class="forms-grid__picto" src="~assets/images/picto-house.svg" alt="">
          <NuxtLink class="link link--primary" to="/proposition-hebergement">Formulaire de proposition d'hébergement</NuxtLink>
        </li>

        <li class="forms-grid__item">
          <img class="forms-grid__picto" src="~assets/images/picto-soignant.svg" alt="">
          <NuxtLink class="link link--primary" to="/demande-hebergement">Formulaire de demande d'hébergement</NuxtLink>
        </li>

        <li class="forms-grid__item">
          <img class="forms-grid__picto" src="~assets/images/picto-marker.png" alt="">
          <NuxtLink class="link link--primary" to="/liste-hebergements">Liste des hébergements disponibles</NuxtLink>
        </li>
      </ul>

      <div class="landing-subscribe__form">
        <h3 class="title-3">Je soutiens le projet</h3>

        <Subscribe/>
      </div>
    </div>
  </section>

  <section class="landing-faq">
    <div class="wrapper-content">
      <h2 class="landing-faq__title title-2">Vos questions</h2>

      <Faq/>
    </div>
  </section>

  <section class="landing-partners">
    <div class="wrapper-content">
      <h2 class="landing-partners__title title-2">Nos partenaires</h2>
    </div>

    <Partners/>

    <div class="wrapper-content">
      <p class="landing-partners__info">Nous appartenons au collectif <a href="https://coopdescommuns.org/fr/plateformes-en-communs/" class="link link--primary">Plateformes en Communs</a> qui réunit de nombreuses plateformes coopératives.</p>
    </div>
  </section>
</main>
