<div class="alert" :class="'alert--'+getType()" v-if="isVisible()" :id="id">
  <img class="alert__icon" :src="getImage()" alt="">

  <div class="alert__content">
    <p class="alert__result" v-if="message" v-html="message"></p>
    <p class="alert__result" v-else><slot/></p>
  </div>

</div>
